/* CSS variables */
:root {
  --accent-color: #FAAD3D;
  --gray-color: #4A4A4A;
  --light-gray: #979797;
  --text-color: #666666;
  --green-color: #8FD021;
}

@mixin transition {
  transition: all .4s ease-in-out;
}

