@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"),
    url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-LightItalic.woff2") format("woff2"),
    url("../fonts/Nunito-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
    url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"),
    url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 20px;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Varibles */
:root {
  --primary-color: #415167;
  --accent-color: #c7a17a;
  --light-accent: #f9f5e8;
  --dark-gray: #151d28;
  --light-gray: #edf0f5;
  --bg-color: #f9fbff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-color);
}
.title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--primary-color);
}
.btn-reset {
  border: none;
  outline: none;
  cursor: pointer;
}
.product-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #232c38;
}
.active {
  display: block;
}
/* Header */
.header {
  background-color: var(--bg-color);
}
.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 768px;
}
.header__left {
  position: relative;
  padding-top: 70px;
  max-width: 307px;
  width: 100%;
}
.header__title {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 450px;
  z-index: 9;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 70px;
  color: var(--primary-color);
}
.header__title span {
  display: block;
  padding-left: 5px;
  background-color: var(--accent-color);
  color: #fff;
}
.header__img {
  position: relative;
  min-width: 690px;
  width: 100%;
  height: auto;
}
.header__img img {
  position: absolute;
}
.header__navigation {
  padding-top: 70px;
  padding-left: 50px;
  max-width: 328px;
  width: 100%;
  background-color: var(--primary-color);
}
.cart {
  margin-bottom: 78px;
}
.cart__link {
  position: relative;
  display: block;
  height: 18px;
  width: 18px;
  background-image: url("../img/header/cart.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cart__link span {
  position: absolute;
  top: -15px;
  right: -15px;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0;
}
.menu {
  color: var(--light-gray);
}
.menu__item:not(:last-child) {
  margin-bottom: 30px;
}
.menu__link {
  position: relative;
  color: currentColor;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}
.menu__link--current {
  font-weight: bold;
}
.burger {
  display: none;
  width: 30px;
  cursor: pointer;
}
.burger span {
  height: 2px;
  background: #fff;
  display: block;
  margin-bottom: 10px;
}
/* Varieties of coffee */
.varieties-of-coffee {
  padding: 95px 0 120px;
  background-color: var(--bg-color);
}
.varieties-of-coffee__title {
  margin-bottom: 72px;
  text-align: center;
}
.varieties-of-coffee__subtitle {
  display: block;
  margin-bottom: 9px;
  text-align: center;
}
.varieties-of-coffee__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  max-width: 226px;
  width: 100%;
  text-align: center;
}
.item__img {
  margin: 0 auto 40px;
}
.item__title {
  margin-bottom: 14px;
}
.item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-gray);
}

/* Favorite */
.favorite {
  padding: 95px 0 125px;
  background-color: var(--bg-color);
}
.favorite__subtitle {
  margin-bottom: 9px;
  display: block;
  text-align: center;
}
.favorite__title {
  margin-bottom: 72px;
  text-align: center;
}
.favorite__slider {
  height: 543px;
}
.favorite__slider .swiper-slide {
  overflow: hidden;
  height: calc((100% - 30px) / 2);
}
.swiper-slide.product {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.product:hover .product__title {
  color: var(--accent-color);
}
.product__img {
  background-color: var(--light-gray);
  max-width: 235px;
  width: 100%;
  height: 256px;
}
.product__img img {
  background-size: cover;
  background-position: center;
}
.product__info {
  width: 100%;
  padding: 15px 35px;
}
.product__price {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--accent-color);
}
.product__title {
  margin-bottom: 25px;
  transition: color 0.3s ease;
}
.product__text {
  display:block;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-gray);
}
.product__btn {
  min-width: 134px;
  min-height: 32px;
  background-color: var(--accent-color);
  border-radius: 19px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  transition: background 0.3s ease;
  border: 1px solid transparent;
}
.product__btn:hover {
  background-color: var(--light-accent);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.swiper-button-next.btn-next {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  background-image: url("../img/favorite/right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.swiper-button-prev.btn-prev {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  background-image: url("../img/favorite/right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transform: rotate(180deg);
}
.swiper-button-next,
.swiper-button-prev {
  top: 50.5%;
}

/* Gift */
.gift {
  padding: 85px 125px;
  background-color: var(--light-gray);
}
.gift__subtitle {
  display: block;
  margin-right: 270px;
  margin-bottom: 9px;
  text-align: right;
}
.gift__title {
  display: block;
  margin-right: 270px;
  margin-bottom: 66px;
  text-align: right;
}
.gift__body {
  display: flex;
  justify-content: flex-end;
}
.gift-item {
  position: relative;
}
.gift-item__img {
  max-width: 490px;
  position: absolute;
  left: -260px;
  top: 50%;
  transform: translateY(-50%);
}
.gift-item__img img {
  background-size: cover;
}
.gift__info {
  max-width: 794px;
  width: 100%;
  min-height: 462px;
  padding: 57px 64px 64px 299px;
  background-color: #fff;
}
.gift__price {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--accent-color);
}
.gift__name {
  margin-bottom: 15px;
}
.gift__text {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-gray);
}
.gift__composition {
  position: relative;
  padding-left: 50px;
  max-width: 200px;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-color);
}
.gift__composition span {
  display: block;
  font-weight: 600;
  color: currentColor;
}
.gift__composition::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  height: 26px;
  width: 26px;
  transform: translateY(-50%);
  background-image: url("../img/gift/coffee-beans.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.gift__info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gift__btn {
  min-width: 166px;
  min-height: 37px;
}
.product__consul {
  display: block;
  min-width: 166px;
  min-height: 37px;
  position: relative;
  margin-right: 49px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-color);
  transition: all 0.3s ease;
  text-decoration: none;
  background: transparent;
}
.product__btn .product__consul:hover {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  border: none;
}
.gift__btns {
  width: 88px;
}
.gift__nav {
  display: block;
  width: 100%;
  height: 154px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: var(--primary-color);
  opacity: 0.3;
}
.gift__nav.active {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  background-color: #fff;
  color: var(--primary-color);
  opacity: 1;
}
.gift-item {
  display: none;
}
.gift-item.active {
  display: block;
}

/* Selection */
.selection {
  padding: 88px 125px;
  background-color: var(--bg-color);
}
.selection__subtitle {
  display: block;
  margin-bottom: 9px;
  text-align: center;
}
.selection__title {
  margin-bottom: 64px;
  text-align: center;
}
.swiper-slide.product-vertical {
  display: block;
  max-width: 360px;
  cursor: pointer;
}
.product-vertical .product__title {
  margin-bottom: 10px;
}
.product-vertical .product__text {
  margin-bottom: 35px;
}
.product-vertical .product__img {
  max-width: none;
}
.product-vertical .product__img img {
  margin: 0 auto;
}
.product-vertical .product__info {
  position: relative;
  padding: 40px;
}
.product-vertical .product__price {
  margin-right: 20px;
  position: relative;
}
.product__price--old {
  position: absolute;
  top: 35px;
  left: 135px;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-color);
  text-decoration: line-through;
}
.selection__slider {
  margin-bottom: 50px;
}
.selection__pagination.swiper-pagination-bullets-dynamic {
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}
.selection__pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: #edf0f5;
}
.footer__container {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copy {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-color);
}
/* Modal */
/* .modals {
  display: none;
} */
.modals--visible {
  display: block;
}
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}
.modal {
  padding: 40px 25px;
  background-color: #fff;
  max-width: 320px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  text-align: center;
}
.modal--visible {
  display: block;
}
.form__buy {
  /* display: flex; */
}
.form__title {
  margin-bottom: 20px;
}
.form__input {
  position: relative;
  padding: 10px 15px;
  width: 100%;
  background-color: var(--light-accent);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  margin-bottom: 20px;
}
.js-validate-error-label {
  margin-top: -10px;
}

.modal__btn {
  padding: 7px 10px;
}
.form__callback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal.modal--callback.modal--visible {
  height: 100%;
}
